:root {
    --margin-percentage: 1%; /* Only for the screen and vessels */
    --MH: 10vh;
    --MW: 10vw;
    --n: 2; /* Number of rows */
    --m: 2; /* Number of columns */
  }

  body{
    background-color: #E5E5E5;
}

  nav {
    color: transparent;
    margin-top: 2%;
    margin-left: 3%;
  }
  
/* ----------- Media Query for Monitors -----------*/
@media screen and (min-width: 1024px) {
    :root {
      /* CSS styles for monitors */
      --c1_fg: 1;
      --c2_fg: 0;
      --c3_fg: 1;
    }
  }
  
  /* ----------- Media Query for Tablets -----------*/
  @media screen and (max-width: 1023px) and (min-width: 768px) {
    /* CSS styles for tablets */
    :root{
        --c1_fg: 1;
        --c2_fg: 1;
        --c3_fg:1;
    }
  }
  
  /* ----------- Media Query for Smartphones -----------*/
  @media screen and (max-width: 767px) {
    :root{
        --c1_fg: 0;
        --c2_fg: 0;
        --c3_fg:0;
    }
  }
  
  
  .C0 { /* Standard Master container */
    width: calc(100vw - (var(--MW) * 2)); 
    height: calc(100vh - (var(--MH) * 2)); 
    margin: var(--margin-percentage);
    padding: 10px; /* Paddings of C0 or margins for CN*/
    border:2px solid;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }

 
.CN{ /* add the subcontainers in N parts */
     height:calc(95%/var(--n));
     width:calc(95%/var(--m));
}

.CN:nth-child(1) { /* CSS styles for the second child element */
    background-color: transparent;
    flex-grow: var(--c1_fg);
    box-sizing: border-box;
  }

.CN:nth-child(2) { /* CSS styles for the second child element */
    background-color: transparent;
    flex-grow: var(--c2_fg);
    box-sizing: border-box;
    height: 20%;
    margin-bottom: 3%;
  }

  .CN:nth-child(3) {
    margin-top: -15%;
    box-sizing: border-box; /* Include padding in the width calculation */
    background-color: white;
    border: none;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #imagen_output{
    width: 0%;
    height:0%;
    float: center;
  
  }

.output_text{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
}

.result{
    margin-top: 1%;
    width: 80%;
    height: auto;
    color: #0A3871;
    height: auto;
    border: none;
    text-align: center;
    resize:none;
    flex-grow: 1;
    font-style: normal;
    font-weight: 400;
    font-family: sans-serif;
    font-size: 20px;
}


  .encriptar {
    width: 30% ;
    height: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: white;
    background-color: #0A3871;
    border: 2px solid #0A3871;
    border-radius: 24px;
    padding: 15px;
    gap: 8px;
    margin-left: 20%;
    margin-top: 1%;
  }

.desencriptar {
    width: 30% ;
    height: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #0A3871;
    background-color: #D8DFE8;
    border: 2px solid #0A3871;
    border-radius: 24px;
    padding: 15px;
    gap: 8px;
    margin-top: 1%;
    margin-left: 20%;
  }

  #copy_button {
    text-align: center;
    width: 33% ;
    height: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #0A3871;
    background-color: white;
    border: 2px solid #0A3871;
    border-radius: 24px;
    padding: 15px;
    gap: 8px;
    margin-bottom: 1%;
    margin-top: 1%;
    display: none;

  }

.warning{
  height: 10%;
  width: 50%;
  margin-left: 20%;
  display: flex;
  align-items: center;
}

#warning_img{
  height: 16px;
  width:16px;
  margin-bottom: 3px;
}

#warning_text{
  color: #495057;
  font-size: 12px;
  margin-bottom: 5px;
  text-align: left;
  margin-left: 5px ;
}

  .input_box {
    margin-top: 1%;
    margin-left: 20%;
    height: 90%;
    width: 70%;
    background-color: transparent;
    border: none;
    vertical-align: top;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    background-color: transparent;
    border: none;
    resize:none;
  }

  .input_box::placeholder{
    color: #0A3871;
  }

.lista_botones li{
  width: 30%;
}

  .lista_botones {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
  }

  .encriptar:hover , .desencriptar:hover{
    transform: scale(1.1);
    transition: 1s all;
  }

  .encriptar:active, .desencriptar:active{
    border-color: green;
    background-color: green;
  }
  
  footer{
    text-align: center;
    color: black;
    padding:40px;
}


  
 /* ----------- Media Query for Monitors -----------*/
 @media (min-width: 1024px) {
      
    .C0 { /* Standard Master container */
        display: flex;
        flex-wrap: wrap;
        flex-direction: column; /* distribute subcontainers among rows or columns */
        justify-content: center; /* Displayed on the X(width) axis */
        align-items: center; /* Displayed on the Y(height) axis */
        align-content: center;
    
      }


.CN:nth-child(3){
    height: 80%;
    width: 30%;
    margin-top: -15%;
    margin-left: 5%;
}

.CN:nth-child(2){
  width: 60%;
}

#imagen_output{
  width: 80%;
  height:75%;
  margin-top: 5%;
  margin-bottom: 1%;
  float: center;

}

.encriptar, .desencriptar{
  width: 70%;
  flex-grow: 1
}

     }
    

     /* ----------- Media Query for Tablets -----------*/
      @media (max-width: 1023px) and (min-width: 768px) {
        /* CSS styles for tablets */
    

        .C0{
          display: flex;
          justify-content: center; /* Displayed on the X(width) axis */
          align-items: center; /* Displayed on the Y(height) axis */
          align-content: center;
          flex-direction: column;
          justify-content: space-between; /* Displayed on the Y(height) axis */
        }

        .CN{
            width: 100%;
        }

        .CN:nth-child(2){
          height: 5%;
      }

        .CN:nth-child(3){
            width:100% ;
            flex-shrink: .5;
            height: 20%;
            margin-left: 15%;
            margin-top: 0%;
        }

        .lista_botones {
          display: flex;
          flex-direction: row;
          width: 100%;
        }
    
    
     }
       /* ----------- Media Query for Smartphones -----------*/
    
       
       @media screen and (max-device-width: 767px) {
        /* CSS styles for smartphones */
    
        .C0{
            flex-direction: column;
            align-items: space-between; /* Displayed on the Y(height) axis */
        }

        .CN{
            width: 100%;
        }

        .CN:nth-child(2){
          height: 5%;
      }

        .CN:nth-child(3){
            height: 20%;
            margin-top: -8%;
        }
    

        .lista_botones {
          display: flex;
          flex-direction: column;
          width: 100%;
          justify-content: center;
          align-items: center;
        }

        .encriptar,.desencriptar{
          width: 80%;
        }


      }
  
